@media (min-width:200px) and (max-width:1000px){
        // Search Bar 
    form {
        width: 310px;
        height: 45px;

        input {
            font-size: 15px;
        }
        button {
            background-color: #FF9933;
            padding: 0px 10px;
        }
    }
        // Search bar Ends 
        // Checker Bars Start from here 
    #bars {
        display: block;
        color: #FF9933;
        position: absolute;
        right: 20px;
        z-index: 10;        
    }
    #checker {
        display: none;
    }
    #checker:checked ~ .nav ul {
        left: 0;
    }
    // Checker Bars Ends Here
    
// headtop part start from here 
    #headtop {
        .logo {
            font-size: 25px;
            padding-left: 0px;
        }
        .contact {
            display: none;
        }
        
        .icon {
            display: none;
        }
    }
    // headtop part Ends from here 
    // navbar start from here 
    .nav {
        ul{
            width: 100%;
            height: 100vh;
            background-color:#34AD54;
            position: absolute;
            top: 80px;
            left: -100%;
            transition: .5s;
            z-index: 1;
            li {
                display: block;
                text-align: center;
            }
        }
    }
        // navbar Ends from here 

// index home section start             
    #home {
        max-width: 100%;
        margin: auto;
        height: 70vh;

        img {
            width: 100%;
            height: 70vh;
            background-repeat: no-repeat;
            background-size:contain;
        }
        .homecontent {
            font-size: 25px;
            position: absolute;
            top: 200px;
            left: 20px;
            color: white;
            font-weight: 600;
            letter-spacing: 3px;
            line-height: 50px;
            
            button {
                margin-top: 10px;
                padding: 10px 15px;
                background-color: #FF9933;
                border: 0px;
                border-radius: 5px;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }
        }
    } 
    // index Home Section Ends From Here

    // Front Page of others for Every Page Start From here
    
    #aboutsection {
        max-width: 100%;
        margin: auto;
        height: 70vh;
        
        img {
            width: 100%;
            height: 50vh;
            background-size: contain;
            zoom: 1.4;
        }
        .topcontent {
            left: 10px;         
            button {
                padding: 10px 0px;
                background-color: #FF9933;
                border: 0px;
                border-radius: 5px;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }
        }
    }
    // Front Page of others Ends here

// middle section start from here 
    #middle {
        display: inline;
        justify-content: center;
        max-width: 100%;
        height: 300px;
    }
// middle section Ends here 
// about home section start from Here
    #about {
        max-width: 100%;
        margin: 100px 2px 0px 2px;   
        height: max-content;
        // margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .about-left {
            border: 5px solid #34AD54;
            border-bottom: 0px;
            display: flex;
            justify-content: center;
            flex-basis: 50%;
        }
        .about-right {
            font-size: 80%;
            
            p {
                padding: 10px;
            }
        }
    }
// about home section ends from Here

    // our services start from here  
    #ourservice {
        height: auto;
        .myheading{ 
            padding: 10px;
        } 
        #box{  
            display: grid; 
            grid-template-columns: auto; 
            justify-content: center; 
        }
    }
// Our Services Ends 

// product or Feature section start 
    #main {
        height: auto;
        margin-top: 100px;

        #mainhead {
            padding: 10px;
        }

        #mainbox {
            flex-direction: column;
            .mainimg {
                width: 100%;
                height: fit-content;
                border-radius: 50px;
                border: 2px solid white;
                background-color: white;
                padding: 50px 20px 0 10px;
                text-align: center;
                color: #1b6671;
                 img{
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    background-size:contain;
                    margin-top: 10%;
                    padding: 5%;
                    width: 20em;    
                }
            }
        }
    }
    // product or Feature section Ends Here

    // about section Start From Here
    #members{ 
        display: inline;
        justify-content: center;
        max-width: 100%;
        height: 300px;
        margin: 0;
        .teamText{ 
            display: block; 
            justify-content: center; 
            text-align: center; 
            font-size: 25px; 
            font-weight: 600;
            padding: 10px;
        }
        .teambox{ 
            display: grid; 
            grid-template-columns: auto; 
            justify-content: center; 
            gap: 5px; 
            max-width: 100%;

            .box{ 
                max-width: 90%;
                height: 400px; 
                justify-content: center;
                background-color: #FF9933;
                border: 1px solid #1b6671; 
                text-align: center;
                } 
                .boxcontent{
                    padding: 5%;
                    font-size: 15px;
                    letter-spacing: 3px;
                    color:green;
                }
            }
        }
// about section ends here

// footer part start from here 
    footer {
        .footercontent .row1 {
            padding: 10px;
            flex-direction: column;
        }
    }






}
                






// @media (min-width:576px) and (max-width:991px) {