@media (min-width: 200px) and (max-width: 1000px) {
  #bars {
    display: block;
    color: #FF9933;
    position: absolute;
    right: 20px;
    z-index: 10;
  }
  #checker {
    display: none;
  }
  #checker:checked ~ .nav ul {
    left: 0;
  }
  form {
    width: 310px;
    height: 45px;
    top: 100px;
    left: 2px;
  }
  form input {
    font-size: 15px;
  }
  form button {
    background-color: #FF9933;
    padding: 0px 10px;
  }
  #headtop .logo {
    font-size: 25px;
    padding-left: 0px;
  }
  #headtop .contact {
    display: none;
  }
  #headtop .icon {
    display: none;
  }
  .nav ul {
    width: 100%;
    height: 100vh;
    background-color: #34AD54;
    position: absolute;
    top: 80px;
    left: -100%;
    transition: 0.5s;
    z-index: 1;
  }
  .nav li {
    display: block;
    text-align: center;
  }
  #home {
    max-width: 100%;
    margin: auto;
    height: 70vh;
  }
  #home img {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #home .homecontent {
    font-size: 25px;
    position: absolute;
    top: 200px;
    left: 20px;
    color: white;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 50px;
  }
  #home .homecontent button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #FF9933;
    border: 0px;
    border-radius: 5px;
  }
  #home .homecontent button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  #middle {
    display: inline;
    justify-content: center;
    max-width: 100%;
    height: 300px;
  }
  footer .footercontent .row1 {
    padding: 10px;
    flex-direction: column;
  }
  #aboutsection {
    max-width: 100%;
    margin: auto;
    height: 70vh;
  }
  #aboutsection img {
    width: 100%;
    height: 50vh;
    background-size: contain;
    zoom: 1.4;
  }
  #aboutsection .topcontent {
    left: 10px;
  }
  #aboutsection button {
    padding: 10px 0px;
    background-color: #FF9933;
    border: 0px;
    border-radius: 5px;
  }
  #aboutsection button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  #members {
    display: inline;
    justify-content: center;
    max-width: 100%;
    height: 300px;
    margin: 0;
  }
  #members .teamText {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
  }
  #members .teambox {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 50px;
    max-width: 100%;
  }
  #members .teambox .box {
    max-width: 90%;
    height: 400px;
    justify-content: center;
    background-color: #FF9933;
    border: 1px solid #1b6671;
    text-align: center;
  }
  #members .teambox .box .boxcontent {
    padding: 5%;
    font-size: 15px;
    letter-spacing: 3px;
    color: green;
  }
  /* our services start from here  */
  #ourservice {
    height: auto;
  }
  #ourservice .myheading {
    padding: 10px;
  }
  #box {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    /* gap: 50px; */
  }
  #main {
    height: auto;
    margin-top: 100px;
  }
  #main #mainhead {
    padding: 10px;
  }
  #main #mainhead .mainimg img {
    height: 50px;
    width: 50px;
  }
  #mainbox {
    flex-direction: column;
  }
  #mainbox .mainimg img {
    display: flex;
    justify-content: center;
    background-size: contain;
  }
  #main #mainbox .mainimg {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid white;
    background-color: white;
    padding: 50px 20px 0 10px;
    text-align: center;
    color: #1b6671;
  }
  #main #mainbox .mainimg img {
    margin-top: 10%;
    padding: 5%;
    width: 20em;
  }
}/*# sourceMappingURL=media.css.map */